body{
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: fixed;
   
}
nav{
    
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 10vh;
   
}
nav img{
    margin-left: 15%;
    display: flex;
    width: 15vh;
    height: 5vh;
}
nav h1{
    display: flex;
    margin-left: -5vh;
    margin-right: 10vh;
    font-family:'Inter';
    font-size: 22px;
    font-weight:300;
}
a{
    color: black;
    text-decoration: none;
}
.h2{
    display: flex;
    margin-right: 5%;
    margin-left: 25%;
    justify-content: space-between;
    gap: 8vh;
    
}
.h2 h2{ 
    font-family:'Inter';
    font-size: large;
    display: flex;
    font-weight:300;
}
/*-----------------------------------------*/
a:hover{
    color: rgb(112, 146, 254);
}

main {
    padding-top: 12vh;
    text-align: center;
}
.led-container{
    background-image: url(imagem/fundoazul.jpeg);
    mask-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    padding-top: 19vh;
    padding-bottom: 20vh;
    
}
.led-container h2 {
    background-color: rgba(1, 16, 81, 0.718);
    height: 80px;
    padding-top: 60px;
    background-size: 200px, 50px;
    margin-top: -90px;
    color: rgba(255, 255, 255, 0.861);
    margin-bottom:50px;
    font-size: 24px;
    font-weight: 200;
    font-family: 'Inter';
    padding-bottom: 20px;
}

.led-grid {
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 LEDs por fileira */
    gap: 10px;
    
}

.led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104); /* Estado inicial */
    border: 5px solid rgba(36, 98, 213, 0.459);
    transition: background-color 0.3s ease;
}
.led-item {
    display: flex;
    flex-direction: column; /* Organiza imagem acima do LED */
    align-items: center;
    gap: 2px; /* Espaçamento entre a imagem e o LED */
}

.led-item img {
    margin-bottom: -20px;
    width: 150px; /* Tamanho da imagem */
    height: 150px;
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho */
}
.led-item h3{
    margin-top: 70px;
    background-color: rgba(1, 16, 81, 0.718);
    color: white;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 200;
    margin-bottom: -30px;
    padding-bottom: -20px;
    padding-top: 10px;
    width: 50px;
    height: 30px;
    border-radius: 500px;
}

footer {
     display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    background-color: rgba(246, 238, 238, 0.925);
    height: 14vh;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    width: 100%; /* Garantir que o rodapé ocupe toda a largura */
    padding-bottom: 30px;
    bottom: 0;
    position: fixed;
}

footer h4 {
    text-align: center; /* Centraliza o título horizontalmente */
    color: rgb(0, 0, 0);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 10px;
}

.segundo {
    display: flex;
    gap: 70px;
    width: 100%;
    justify-content: center; /* Centraliza os itens dentro do segundo */
    align-items: center;
}

.esquerda, .meio, .direita {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segundo h3 {
    color: rgb(0, 0, 0);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.segundo h5 {
    color: rgb(0, 0, 0);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    margin: 2px 0;
}

h5:hover{
    color: rgb(112, 146, 254);
}
